<div class="pt-32 pb-12 flex flex-col gap-5">
  <h2 class="text-center">Mascots</h2>
  <div class="flex items-center justify-center">
    <form class="flex flex-col gap-3" action="/mascots" method="GET">
      <div class="flex justify-between gap-5">
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>" />
      </div>
      <div class="flex justify-between gap-5">
        <label>Born After</label>
        <input type="date" name="bornAfter" value="<%= searchOptions.bornAfter %>" />
      </div>
      <div class="flex justify-between gap-5">
        <label>Born Before</label>
        <input type="date" name="bornBefore" value="<%= searchOptions.bornBefore %>" />
      </div>
      <button class="px-4 py-2 bg-slate-900 text-slate-100" type="submit">Search</button>
    </form>
  </div>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 md:grid-cols-3 xl:grid-cols-4 justify-items-center mb-5">
    <% mascots.forEach(mascot => { %>
      <div class="text-center">
        <div class="mb-3"><%= mascot.name %></div>
        <a href="/mascots/<%= mascot.id %>">
          <img class="w-[200px] h-[150px]" src="<%= mascot.imagePath %>">
        </a>
      </div>
    <% }) %>
  </div>
</div>

