<h2 class="pt-36">Welcome to <%= mascot.name %>'s World!</h2>
<img width="150" height="150" src="<%= mascot.imagePath %>" />
<div>Collaborator: <%= mascot.collaborator.name %></div>
<div>Birth Date: <%= mascot.birthDate.toDateString() %></div>
<div>Breed: <%= mascot.breed %></div>
<div>Gender: <%= mascot.gender %></div>
<div>Description: <%= mascot.description %></div>

<a href="/mascots/<%= mascot.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/mascots/${mascot.id}`}) %>
<a href="/collaborators/<%= mascot.collaborator.id %>">View Collaborator</a>
