<div class="pt-32 pb-12 flex flex-col max-w-[1000px] justify-center m-auto p-5 gap-5">
  <h2 class="text-center">Collaborators</h2>
  <div class="flex items-center justify-center">
    <form class="flex flex-col gap-3" action="/collaborators" method="GET">
      <div class="flex justify-between gap-5">
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>" />
      </div>
      <button class="px-4 py-2 bg-slate-900 text-slate-100" type="submit">Search</button>
    </form>
  </div>

  <div class="mt-10">
    <% collaborators.forEach(collaborator => { %>
      <div class="flex justify-between">
        <div><%= collaborator.name %></div>
        <div class="flex gap-5 mb-5">
          <a class="bg-slate-900 text-slate-100 py-2 px-4 text-sm" href="/collaborators/<%= collaborator.id %>">View</a>
          <a class="bg-amber-600 text-slate-100 py-2 px-4 text-sm" href="/collaborators/<%= collaborator.id %>/edit">Edit</a>
        
          <%- include('../partials/deleteForm', {
            url: `/collaborators/${collaborator.id}`
          }) %>
        </div>
      </div>
    <% }) %>
  </div>

  <% if (collaborators.length > 0) { %>
    <ul class="flex gap-5 justify-center mt-10 border">
     <% if (current == 1) { %>
      <li><a>First</a></li>
     <% } else { %>
       <li><a href="/collaborators/?page=1">First</a></li>
     <% } %>
      
     <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
     <% if(i !== 1) { %>
       <li><a href="">...</a></li>
     <% } %>
   
     <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %>
       <% if (i == current) { %>
         <li class="text-slate-100 bg-slate-900 px-4"><a href=""><%= i %></a></li>
       <% } else { %>
         <li><a href="/collaborators/?page=<%= i %>"><%= i %></a></li>
       <% } %>
       <% if (i == Number(current) + 4 && i < pages) { %>
         <li><a href="">...</a></li>
       <% } %>
     <% } %>
   
     <% if (current == pages) { %>
       <li><a>Last</a></li>
     <% } else { %>
       <li><a href="/collaborators/?page=<%= pages %>">Last</a></li>
     <% } %>
    </ul>
  <% } %>
</div>
