<h2 class="pt-36">Search Collaborators</h2>
<form action="/collaborators" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>" />
  <button type="submit">Search</button>
</form>
<br />
<% collaborators.forEach(collaborator => { %>
<div><%= collaborator.name %></div>
  <a href="/collaborators/<%= collaborator.id %>">View</a>
  <a href="/collaborators/<%= collaborator.id %>/edit">Edit</a>

  <%- include('../partials/deleteForm', {
    url: `/collaborators/${collaborator.id}`
  }) %>
  
<% }) %>
