<div class="pt-32 flex flex-col max-w-[1000px] justify-center m-auto p-5 gap-5">
  <h2 class="text-center">Collaborators</h2>
  <div class="flex items-center justify-center">
    <form class="flex flex-col gap-3" action="/collaborators" method="GET">
      <div class="flex justify-between gap-5">
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>" />
      </div>
      <button class="px-4 py-2 bg-slate-900 text-slate-100" type="submit">Search</button>
    </form>
  </div>

  <div class="mt-10">
    <% collaborators.forEach(collaborator => { %>
      <div class="flex justify-between">
        <div><%= collaborator.name %></div>
        <div class="flex gap-5 mb-5">
          <a class="bg-slate-900 text-slate-100 py-2 px-4 text-sm" href="/collaborators/<%= collaborator.id %>">View</a>
          <a class="bg-amber-600 text-slate-100 py-2 px-4 text-sm" href="/collaborators/<%= collaborator.id %>/edit">Edit</a>
        
          <%- include('../partials/deleteForm', {
            url: `/collaborators/${collaborator.id}`
          }) %>
        </div>
      </div>
    <% }) %>
  </div>
  
</div>
