<h2><%= collaborator.name %></h2>
<a href="/collaborators/<%= collaborator.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/collaborators/${collaborator.id}` }) %>

<% if (mascotsByCollaborator.length > 0) { %>
    <h2>Mascots by Collaborator</h2>
    <% mascotsByCollaborator.forEach(mascot => { %>
        <div><%= mascot.name %></div>
        <img height="150" width="150" src="<%= mascot.imagePath %>">
        <% }) %>
<% } %>